// profile scss

.essay-title {
  color: #1D4F94;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
.essay {
  line-height: 20px;
  font-family: Verdana,"Bitstream Vera Sans",sans-serif;
  letter-spacing: 0px;
}
