// profile scss

.essay-title {
  color: #1D4F94;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  float: left;
}
.essay {
  clear: both;
  line-height: 20px;
  font-family: Verdana,"Bitstream Vera Sans",sans-serif;
  letter-spacing: 0px;
}
span.edit {
  float: right;
  margin: 0 0 0 10px;
  width: 21px;
  height: 21px;
  background: transparent url(http://akcdn.okccdn.com/media/img/template/edit_icons.png) 0 0 no-repeat;
}
