<!DOCTYPE html>
%html
  %head
    %title Profile Buddy

    = stylesheet_link_tag "application"

  %body
    #content-container
      .current
        %h1 Profile Buddy

    = javascript_include_tag "application"

